<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i class="bi bi-award"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Lorenzo Ball</h6>
          <p class="mb-0 opacity-75">I ordered the toilet roll. Came in good condition, fit my needs very well</p>
        </div>
        <small class="opacity-50 text-nowrap">now</small>
      </div>
    </a>